/* Home.css */
body {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 1.0, 0, 0.1)); /* Gradient background */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
}


/* Home.css */

.home-container {
  display: flex;
}

.left-section {
  width: 20%;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
}

.right-section {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
}
