.custom-slider {
    position: relative;
  }
  
  .custom-prev-arrow,
  .custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .custom-prev-arrow {
    left: 0;
  }
  
  .custom-next-arrow {
    right: 0;
  }
  