/* Home.css */

.left-section {
  background-color: #f0f0f0;
  padding: 1%;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

